**Functions**

In this notebook the below functions will be explained

- def 
- function with map()
- lambda
- function with reduce()
- function with filter()

In [22]:
# function to get prime number
def is_prime(num):
    for i in range(2,num):
        if num % i ==0:
            print("this number is not a prime number")
            break
    else:
        print("this number is a prime number")

In [24]:
is_prime(17)

this number is a prime number

In [25]:
# function to get prime number
def is_prime(num):
    for i in range(2,num):
        if num % i ==0:
            return False
            break
    else:
        return True

In [28]:
is_prime(11)

True

In [33]:
for i in 7:
    pass

TypeError: 'int' object is not iterable

In [34]:
for i in [3,4,5,6, "prash"]:
    print(i)

3
4
5
6
prash

In [39]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
d = iter(range(10))

In [51]:
next(d)

8

In [55]:
def test(n):
    for i in range(n):
        print(i)

In [58]:
test(5)

0
1
2
3
4

In [61]:
def gencube(n):
    for i in range(n):
        print( i **3)

In [62]:
gencube(10)

0
1
8
27
64
125
216
343
512
729

In [63]:
def gencube(n):
    for i in range(n):
        yield i **3

In [64]:
gencube(10)

In [65]:
for i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [73]:
def genfibinachi(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a, b = b, a+b

In [67]:
genfibinachi(10)

In [68]:
def genfibinachi(n):
    a = 1
    b = 1
    for i in range(n):
        print(a)
        a, b = b, a+b

In [69]:
genfibinachi(10)

1
1
2
3
5
8
13
21
34
55

In [74]:
for i in genfibinachi(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [77]:
def square(n):
    return n**2

In [78]:
square(4)

16

In [79]:
l = [3,4,5,6,7,8,9,9]

In [83]:
m = []
for i in l:
    print(square(i))
    m.append(square(i))
    
m

9
16
25
36
49
64
81
81

[9, 16, 25, 36, 49, 64, 81, 81]

In [87]:
# Comprehension
[i**2 for i in l]

[9, 16, 25, 36, 49, 64, 81, 81]

**map()**

In [88]:
def square(n):
    return n**2

In [90]:
l

[3, 4, 5, 6, 7, 8, 9, 9]

In [92]:
list(map(square,l))

[9, 16, 25, 36, 49, 64, 81, 81]

In [94]:
for i in map(square,l):
    print(i)

9
16
25
36
49
64
81
81

**lambda**

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [96]:
l = [3,4,5,6,7,8,9,9]

In [103]:
# values squared 
list(map(lambda x: x **2,l))

[9, 16, 25, 36, 49, 64, 81, 81]

In [116]:
# values squared 0
l = [3,4,5,6,7,8,9,9]
c = lambda x: x **2

list(map(c,l))

[9, 16, 25, 36, 49, 64, 81, 81]

In [117]:
a = [1,2,3,4,5]
b = [5,6,7,4,3]
c = [6,7,8,6,5,5,4]

In [118]:
def summutation(x,y,z):
    return x+y+z

In [120]:
list(map(summutation,a,b,c))

[12, 15, 18, 14, 13]

In [121]:
list(map(lambda x,y,z: x+y+z, a,b,c))

[12, 15, 18, 14, 13]

**reduce()**

Python's reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

In [122]:
from functools import reduce

In [132]:
l = [4,5,6,7,8,9]

def summation(a,b):
    return a +b

In [130]:
l = [4,5,6,7,8,9]

def summation(a,b):
    return a +b

39

In [133]:
l = [4,5,6,7,8,9]

reduce(summation,l)

39

In [135]:
l = [4,5,6,7,8,9]

reduce(lambda x,y: x+y,l)

39

In [136]:
 l = [4,5,6,7,8,9]

reduce(lambda x,y: x/y,l)

0.0002645502645502645

In [137]:
 l = [4,5,6,7,8,9]

reduce(lambda x,y: x*y,l)

60480

**filter()**

In [140]:
# filter out all the even data from the list
l = [4,5,6,7,8,6,7,8,8]

list(filter(lambda x: x%2 ==0,l))

[4, 6, 8, 6, 8, 8]

In [142]:
# filter out all the uneven data from the list
l = [4,5,6,7,8,6,7,8,8]

list(filter(lambda x: x%2 !=0,l))

[5, 7, 7]

In [143]:
def even_check (n):
    if n%2 == 0:
        return True

In [144]:
list(filter(even_check,l))

[4, 6, 8, 6, 8, 8]

In [145]:
def even_check (n):
    if n%2 != 0:
        return True

In [146]:
list(filter(even_check,l))

[5, 7, 7]