# Python Basics

In this notebook the below functions will be explained

- Range function
- For statement
- For else statement
- If else (elif) statement
- While statement
- Break and continue satement
- Input 
- "+" Operator

#### Range

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

For example if you use list(range(10)) it will generate a list for you starting from 0 - 9

In [160]:
# Assings value of 10 in the range function starting form 0 - 9
range(10)

range(0, 10)

In [161]:
# Creats a list with values from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [162]:
# Creats a list with values from 3 to 9 (3 is the starting point and 9 the end point)
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [163]:
# Creats a list with values from 10 to 3 (10 is the starting point and 3 the end point) For this you have to instert a stepzise of -1
list(range(10, 3, -1))

[10, 9, 8, 7, 6, 5, 4]

In [164]:
# range function does not work with float numbers
list(range(10, 3.5, -1))

TypeError: 'float' object cannot be interpreted as an integer

#### For Statement

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [26]:
l = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5]

[3, 4, 5, 6, 7, 8, 23, 4, 5, 5]

In [168]:
# extract all the data from the list l
l = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5]
for i in l:
    print(i)

3
4
5
6
7
8
23
4
5
5

In [169]:
# Adds + 2 to all the values in the list l to the created lis m
l = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5]
m = [] # created an empty list for the new values as input

for i in l:
    m.append(i+2)

In [170]:
# as you can see the above function created a new list m and added l values + 3
print(l)
print(m)

[3, 4, 5, 6, 7, 8, 23, 4, 5, 5]
[5, 6, 7, 8, 9, 10, 25, 6, 7, 7]

In [172]:
# Adds + 2 to all the values in the list to a new list with the use of range

l = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5]
m = []

for i in range(len(l)):
    m.append(l[i]+2)

In [173]:
# Adds + 2 to all the values in the list to a new list with the use of if statement

l = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5]
m = []

for i in l:
    if i >=10:
        m.append(i+2)

In [67]:
m

[25]

In [174]:
s = 1
if s > 10 :
    print("yes it is lesser then 10")
elif s < 50:
    print("yes this data is lesser then 50")
elif s < 40:
    print("BO")
else:("NO")

yes this data is lesser then 50

In [175]:
# Adds + 2 to all the values in the list to a new list with the use of if statement

l = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5]
m = []

for i in l:
    if i >=10:
        m.append(i+2)
    elif i <10:
        m.append(i+80)
    else:
        print("NO")

In [176]:
m

[83, 84, 85, 86, 87, 88, 25, 84, 85, 85]

In [177]:
# list with string

l = [3, 4, 5, 6, 7, 8, 23, 4, 5, 5, "sudh", "kumar"]
m = []

for i in l:
    if type(i) ==str:
        m.append(i)
        
print(m)

['sudh', 'kumar']

In [178]:
s = 10

if s == 10:
    print("yes it is lesser then 10")
    if type(s) == int :
        print("yes my data is an integer")
    elif type(s) == str:
        print("my data is string")
    else:
        print("my data is non of the above")
elif s == 50:
    print("yes this data is lesser then 50")
elif s == 40:
    print("yes it is 40")
else :
    print("non of the condition is true")

yes it is lesser then 10
yes my data is an integer

In [181]:
# this is an for else statement. First it will loop through all values in the list and then it will execute the else statement

l = [5,6,7,8,9,23,45]

for i in l:
    print(i)
else :
    print("nothing is left in my collection")

5
6
7
8
9
23
45
nothing is left in my collection

In [180]:
# While statement. It will loop through al values untill condition is met
d = 10
s = 0
i = 1


while i <=d:
    s = s + i
    i = i + 1
    print(s)
    print(s, i)
print(s)

1
1 2
3
3 3
6
6 4
10
10 5
15
15 6
21
21 7
28
28 8
36
36 9
45
45 10
55
55 11
55

#### Break and conitnue

In [182]:
# It will loop through all the values untill condition is met and then stop with the execution

for x in "prash":
    if x == "s":
        break
    else :
        print(x)

p
r
a

In [183]:
# It will loop through all the values untill condition is met and then stop with the execution

for x in "prash":
    if x == "s":
        break
print("out of loop")

out of loop

In [184]:
# It will loop through all the values untill condition is met and then stop with the execution

for x in "prash":
    if x == "s":
        break
    print(x)
else:
    print("i am able to complete iteration")
print("out of loop")

p
r
a
out of loop

In [185]:
# It will loop through all the values untill condition is met and then stop with the execution

for x in "prash":
    if x == "z":
        break
    print(x)
else:
    print("i am able to complete iteration")
print("out of loop")

p
r
a
s
h
i am able to complete iteration
out of loop

In [186]:
# # It will loop through all the values untill condition is met and then continue with the execution
for i in "prash":
    if i == "s":
        continue
    print(i)

p
r
a
h

#### input


The input() function allows a user to insert a value into a program. input() returns a string value. You can convert the contents of an input using any data type. For instance, you can convert the value a user inserts to a floating-point number

Input will always return a string. Integer, floats etc will be seen as a string

In [191]:
# input any string value you want
input()

 3

'3'

In [ ]:
type(input())

In [134]:
a = input()
b = int(a)
type(b)

 3

int

In [135]:
# checks the type given as input
a = input()
b = int(a)
type(b)

 as

ValueError: invalid literal for int() with base 10: 'as'

In [143]:
# Loop with input value as integer
a = int(input())
l = [1,2,3,4,5,6,7,5,5,5,6,7,8,9,9]
m = []

for i in l:
    if i == a:
        m.append(i -1)

 5

In [145]:
m = int(input())
l = [1,2,3,4,5,6,7,5,5,5,6,7,8,9,9]
m = []

for i in l:
    if i == a:
        m.append(i)

 5

In [146]:
m

[5, 5, 5, 5]

In [147]:
a = int(input("insert only an integer"))
print("integer inserted")
l = [1,2,3,4,5,6,7,5,5,5,6,7,8,9,9]
m = []

for i in l:
    if i == a:
        m.append(i -1)

insert only an integer 5

integer inserted

In [148]:
# + operator
"sudh" + "kumar"

'sudhkumar'

In [151]:
# + operator
"sudh" + 1

TypeError: can only concatenate str (not "int") to str

In [152]:
# + operator
"sudh" + str(1)

'sudh1'

In [153]:
# + operator
"sudh" + "1"

'sudh1'

In [155]:
# + operator: data type must always be the same
[1,2,3,4,5] + "sudh"

TypeError: can only concatenate list (not "str") to list

In [157]:
# + operator: data type must always be the same
# list + list can be done
[1,2,3,4,5] + ["sudh"]

[1, 2, 3, 4, 5, 'sudh']

In [158]:
1 + 2

3