# String Objects and Collections

In this notebook the follow functions will be explained:

- upper()
- lower()
- split()
- partition()
- find()
- center()
- format()
- isalnum()
- isalpha()
- islower()
- isupper()
- istitle()
- endswith()
- len()
- list
- append()
- insert()
- pop()
- reverse()
- sort()
- nested list
- extend()
- index()

**(+) operator**

The + operator can only be used when you try to add 2 of the same data types

int + int = good \
int + str = false

In [5]:
s = "prash"

In [6]:
s +'1'

'prash1'

In the below sample the variable s give as input prash will be multipied by 10
1 prash\
2 prash\
3 prash\
4 prash\
etc

In [10]:
s = "prash"

s * 10

'prashprashprashprashprashprashprashprashprashprash'

In [13]:
# same methos as explained above is applied to list
[1,2,3,4,"sdsd"] *3

[1, 2, 3, 4, 'sdsd', 1, 2, 3, 4, 'sdsd', 1, 2, 3, 4, 'sdsd']

**upper()**

Convert entire string into upper case witht he function **upper()**

In [16]:
s = "prash"
s.upper()

'PRASH'

**lower()**

Convert entire string into lower case witht he function **lower()**

In [18]:
a = "PRash"
a.lower()

'prash'

**split()**

**split()** function will split the sentence into a list. It will always tries to return a list

In [21]:
a = 'prash bhiekhemsing my name is'

In [22]:
a.split()

['prash', 'bhiekhemsing', 'my', 'name', 'is']

In [28]:
a = 'prash@bhiekhemsing@my@name@is'
a.split("@")

['prash', 'bhiekhemsing', 'my', 'name', 'is']

In [26]:
a = 'prash#bhiekhemsing@my@name@is'
a.split("@")

['prash#bhiekhemsing', 'my', 'name', 'is']

**partition()**

**partition()** will only seperate the data based on the first delimeter

In [31]:
a.partition("@")

('prash', '@', 'bhiekhemsing@my@name@is')

In [32]:
type(a.split("@"))

list

In [33]:
type(a.partition("@"))

tuple

**find()**

**find()** it will find the first index of the given input

In [34]:
d ="prashantbhiekhemsing"

In [36]:
d.find('a')

2

In [37]:
d.find('as')

2

In [38]:
d.find('z')

-1

**center()**

**center()** will center the given input

In [42]:
f = "prash"

In [44]:
f.center(50,'v')

'vvvvvvvvvvvvvvvvvvvvvvprashvvvvvvvvvvvvvvvvvvvvvvv'

In [46]:
# always give as input a single character else you will get an error
f.center(50,'vg')

TypeError: The fill character must be exactly one character long

In [47]:
f.center(50,'#')

'######################prash#######################'

**format()**

**format()** is place holder for {} and will replace {} with given input

In [59]:
"my name is {} bhiekhemsing".format("prash")

'my name is prash bhiekhemsing'

In [61]:
a = input("please give your name")

"my name is {}".format(a)

please give your name prash

'my name is prash'

In [63]:
a = input("please give your first name")
b = input("please give your last name")

"my name is {} {}".format(a, b)

please give your first name Prash
please give your last name Bhiekhemsing

'my name is Prash Bhiekhemsing'

In [70]:
a = input("please give your first name")
b = input("please give your last name")

c = "my name is {} {}".format(a, b)
print(c)

please give your first name Prashant
please give your last name Bhiekhemsing

my name is Prashant Bhiekhemsing

**is function** will always return a boolean value True or False if condition is met

**isalnum()**

In [89]:
a = "hello334" # True
b = "hello" # True
c = "112" # True

print(a.isalnum())
print(b.isalnum())
print(c.isalnum())

True
True
True

**isalpha()**

In [93]:
a = "hello334" # False
b = "hello" # True
c = "112" # False

print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

False
True
False

**islower()**

In [95]:
a = "hello334" # True
b = "Hello" # False
c = "112" # False

print(a.islower())
print(b.islower())
print(c.islower())

True
False
False

**isupper()**

In [96]:
a = "hello334" # False
b = "Hello" # False
c = "112" # False

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
False

**istitle()**

In [97]:
a = "hello334" # False
b = "Hello" # True
c = "112" # False

print(a.istitle())
print(b.istitle())
print(c.istitle())

False
True
False

**endswith()**

In [105]:
a = "hello334" # False
b = "Hello" # True
c = "112" # False

print(a.endswith("h"))
print(b.endswith("o"))
print(c.endswith("o"))

False
True
False

**len()**

In [108]:
a = "hello334" # 8 letters
b = "Hello" # 5 letters
c = "112" # 3 letters

print(len(a))
print(len(b))
print(len(c))

8
5
3

# List

A list is an ordered and mutable Python container, being one of the most common data structures in Python. To create a list, the elements are placed inside square brackets ([]), separated by commas. As shown above, lists can contain elements of different types as well as duplicated elements.

In [109]:
a = [1,2,3,4,5, "hello", "prashant", 4.56, [3,4,5]]

In [112]:
# print items in a list
for i in a :
    print(i)

1
2
3
4
5
hello
prashant
4.56
[3, 4, 5]

**append**()

In [116]:
# store items in a new list
m = []
for i in a :
    m.append(i)
    
print(m)

[1, 2, 3, 4, 5, 'hello', 'prashant', 4.56, [3, 4, 5]]

In [119]:
a = [1,2,3,4,5, "hello", "prashant", 4.56, [3,4,5]]
b = [4,6,7,8, "my", 'name']

# + will concatenate list a and b  
a + b

[1, 2, 3, 4, 5, 'hello', 'prashant', 4.56, [3, 4, 5], 4, 6, 7, 8, 'my', 'name']

In [121]:
a = [1,2,3,4,5, "hello", "prashant", 4.56, [3,4,5]]
b = [4,6,7,8, "my", 'name']

# * will multiply list a and b  
(a + b) * 2

[1,
 2,
 3,
 4,
 5,
 'hello',
 'prashant',
 4.56,
 [3, 4, 5],
 4,
 6,
 7,
 8,
 'my',
 'name',
 1,
 2,
 3,
 4,
 5,
 'hello',
 'prashant',
 4.56,
 [3, 4, 5],
 4,
 6,
 7,
 8,
 'my',
 'name']

In [122]:
a = [1,2,3,4,5, "hello", "prashant", 4.56, [3,4,5]]
b = [4,6,7,8, "my", 'name']


b + ['prash']

[4, 6, 7, 8, 'my', 'name', 'prash']

**list()**

In [125]:
a = [1,2,3,4,5, "hello", "prashant", 4.56, [3,4,5]]
b = [4,6,7,8, "my", 'name']

# add item to list with list() function
b + list(['prash'])

[4, 6, 7, 8, 'my', 'name', 'prash']

In [127]:
b = [4,6,7,8, "my", 'name']

# add item to list with append() function
b.append("prash")

b

[4, 6, 7, 8, 'my', 'name', 'prash']

**insert()**

In [129]:
b = [4,6,7,8, "my", 'name']

# add item to list with instert() function
b.insert(3, "prash")

b

[4, 6, 7, 'prash', 8, 'my', 'name']

In [133]:
b = [4,6,7,8, "my", 'name']

# add item to list with instert() function
b.insert(-1, "prash")

b

[4, 6, 7, 8, 'my', 'prash', 'name']

In [134]:
    b = [4,6,7,8, "my", 'name']

# add item to list with instert() function
b.insert(-1, [1,2,3,4])

b

[4, 6, 7, 8, 'my', [1, 2, 3, 4], 'name']

In [135]:
    b = [4,6,7,8, "my", 'name']

# add item to list with instert() function
b.append([5,6,7,8])

b

[4, 6, 7, 8, 'my', 'name', [5, 6, 7, 8]]

**pop()**

In [139]:
# pop() will get last item in the list and deletes it
b.pop()

[5, 6, 7, 8]

In [144]:
# pop() will delete item in list based on condition
b.pop(2)

b

[4, 6, 'my', 'name']

In [152]:
# will reverse items in a data list
b = [1,2,3,4,5]
print(b[::-1]) # never tries to make a list permnantly
b

[5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]

**reverse()**

In [149]:
# will reverse items in a data list
b = [1,2,3,4,5]
b.reverse()
b

[5, 4, 3, 2, 1]

**sort()**)

In [154]:
# sort.() functio

n = [3,4,5,6, "prashant", 'bhiekhemsing']

n.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [156]:
# sort.() functio

n = ["prashant", 'bhiekhemsing']

n.sort()

print(n)

['bhiekhemsing', 'prashant']

In [157]:
# sort.() functio

n = [3,5,6,4,7]

n.sort()

print(n)

[3, 4, 5, 6, 7]

In [158]:
# sort.() function reverse

n = [3,5,6,4,7]

n.sort(reverse=True)

print(n)

[7, 6, 5, 4, 3]

In [159]:
# sort.() function ascending

n = [3,5,6,4,7]

n.sort(reverse=False)

print(n)

[3, 4, 5, 6, 7]

In [166]:
a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9]

# nested list
d = [a,b,c]

In [167]:
# how to access items in a list
print(d)
print(d[-1])

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 7, 8, 8, 9]]
[2, 3, 4, 5, 6, 7, 8, 8, 9]

In [168]:
# how to access items in a list
print(d)
print(d[-1][::2])

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 7, 8, 8, 9]]
[2, 4, 6, 8, 9]

In [170]:
# how to access items in a list
print(d)
print(d[-1][:3])

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 7, 8, 8, 9]]
[2, 3, 4]

In [2]:
a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9]

# nested list
d = [a,b,c]


print(d)

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 7, 8, 8, 9]]

In [3]:
d[-1][::2]

[2, 4, 6, 8, 9]

In [14]:
# reverse list of list and reverse all items in list of list

a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9]

# nested list
d = [a,b,c]



f = []
e = d[::-1]

for i in e:
    f.append(i[::-1])
    
print(d)
print(e)
print(f)

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 7, 8, 8, 9]]
[[2, 3, 4, 5, 6, 7, 8, 8, 9], [56, 6, 7, 89, 8], [3, 4, 5, 6, 7]]
[[9, 8, 8, 7, 6, 5, 4, 3, 2], [8, 89, 7, 6, 56], [7, 6, 5, 4, 3]]

In [49]:
# reverse list of list and reverse all items in list of list

a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9]

# nested list
d = [a,b,c]



m = []
d.reverse()

for i in d:
    m.append(i[::-1])
    
print(m)

[[9, 8, 8, 7, 6, 5, 4, 3, 2], [8, 89, 7, 6, 56], [7, 6, 5, 4, 3]]

In [50]:
m

[[9, 8, 8, 7, 6, 5, 4, 3, 2], [8, 89, 7, 6, 56], [7, 6, 5, 4, 3]]

In [52]:
# reverse list of list and reverse all items in list of list

a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9]

# nested list
d = [a,b,c]

d.reverse()

In [56]:
# reverse list of list and reverse all items in list of list

a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9]

# nested list
d = [a,b,c]

d.reverse()

# select secend position items in list
n = []
for i in d:
    n.append(i[2])
    
print(d)
print(n)

[[2, 3, 4, 5, 6, 7, 8, 8, 9], [56, 6, 7, 89, 8], [3, 4, 5, 6, 7]]
[4, 7, 5]

In [57]:
# reverse list of list and reverse all items in list of list

a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9]

# nested list
d = [a,b,c]

d.reverse()

# select secend position items in list and multipy
n = []
for i in d:
    n.append(i[2] * 2)
    
print(d)
print(n)

[[2, 3, 4, 5, 6, 7, 8, 8, 9], [56, 6, 7, 89, 8], [3, 4, 5, 6, 7]]
[8, 14, 10]

In [60]:
# List comprehension method
[i [2] * 2 for i in d]

[8, 14, 10]

In [62]:
# List comprehension method
[{i [2] * 2} for i in d]

[{8}, {14}, {10}]

append() function

In [66]:
# append (add item to list)
s = [1,3,4,5,5]

s.append(4)

print(s)

[1, 3, 4, 5, 5, 4]

In [67]:
# append (add item to list)
s = [1,3,4,5,5]

s.append([3,4,5,6,7])

print(s)

[1, 3, 4, 5, 5, [3, 4, 5, 6, 7]]

**extend()**

In [69]:
# append (add item to list)
s = [1,3,4,5,5]
m = [4,5,6,7,"prash"]

s.append([3,4,5,6,7])

# creates a new list with the new items
m.extend([6,7,8,"bhiekhemsing"])

print(s)
print(m)

[1, 3, 4, 5, 5, [3, 4, 5, 6, 7]]
[4, 5, 6, 7, 'prash', 6, 7, 8, 'bhiekhemsing']

In [72]:
# append (add item to list)
s = [1,3,4,5,5]
m = [4,5,6,7,"prash"]

s.append([3,4,5,6,7])

# creates a new list with the new items
m.extend([7,8,9,[6,7,8,"bhiekhemsing"]])

print(s)
print(m)

[1, 3, 4, 5, 5, [3, 4, 5, 6, 7]]
[4, 5, 6, 7, 'prash', 7, 8, 9, [6, 7, 8, 'bhiekhemsing']]

In [74]:
m.index(6)

2