In this notebook the following subjects with their function will be explained

- Tuple
- Set
- Dictionary

**Tuple**

Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [2]:
l = [4,5,6,"prashant"]
type (l)

list

In [6]:
t = (1,2,3,4,5,"prash", 4.56,4+8j)
type(t)
print(t)

(1, 2, 3, 4, 5, 'prash', 4.56, (4+8j))

In [11]:
# acces item in tuple
t = (1,2,3,4,5,"prash", 4.56,4+8j)

print(t)
print(t[::-11])
t[0]

(1, 2, 3, 4, 5, 'prash', 4.56, (4+8j))
((4+8j),)

1

In [13]:
# how many items are in the tuple
len(t)

8

In [25]:
# show items in tuple
t = (4,5,6,"prash")

for i in t:
    print(i)

4
5
6
prash

In [26]:
# tuple = imumutable so you can not repalce values in a tuple
t = (4,5,6,"prash")

t[0]="bhiekhemsing"

TypeError: 'tuple' object does not support item assignment

In [29]:
# tuple = imumutable so you can not repalce values in a tuple
t = (3,4,5,6,7)

for i in t:
    print(t)

(3, 4, 5, 6, 7)
(3, 4, 5, 6, 7)
(3, 4, 5, 6, 7)
(3, 4, 5, 6, 7)
(3, 4, 5, 6, 7)

In [32]:
# loop through items in tuple
t = (3,4,5,6,7)

for i in range(len(t)):
    print(t[i])

3
4
5
6
7

In [33]:
# loop through items in list
l = [3,4,5,6,7]

for i in range(len(t)):
    print(t[i])

3
4
5
6
7

**count()**

In [42]:
# count how many times an item occurs in tuple
t = (3,3,4,5,6,7)

t.count(3)

2

**index()**

In [43]:
# index in tuple
t = (3,3,4,5,6,7)

t.index(3)

0

In [46]:
# concat in tuple
t = (2,4,5,6)
t1 = (6,7,8,9)

t+t1

(2, 4, 5, 6, 6, 7, 8, 9)

**insert()**

In [62]:
# convert tuple to a list
t = (4,5,6,7)

t = list(t)

t.insert(2,"prash")
t

#convert list to tuple
tuple(t)

(4, 5, 'prash', 6, 7)

**set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [68]:
# set is a collection which always keep unique values
s = set([1,2,3,4,5,3,3,3,3,3,3,3,4,1,1])
s

{1, 2, 3, 4, 5}

In [71]:
# set is a collection which always keep unique values
s = set([1,2,3,4,5,3,3,3,3,3,3,3,4,1,1, "prash","prash"])
s

{1, 2, 3, 4, 5, 'prash'}

In [75]:
# set is a collection which always keep unique values
s = set([1,2,3,4,5,3,3,3,3,3,3,3,4,1,1, "prash","Prash"])
s

{1, 2, 3, 4, 5, 'Prash', 'prash'}

In [76]:
# acces itmes in set
s[0]

TypeError: 'set' object is not subscriptable

In [81]:
# loop through items in set
s = set([1,2,3,4,5,3,3,3,3,3,3,3,4,1,1, "prash","Prash"])

for i in s:
    print(i)

1
2
3
4
5
Prash
prash

In [79]:
type(s)

set

In [83]:
s = {4,5,6,7,3,4,7,5,4,1,2,0, "prashant", "bhiekhemsing"}
s

{0, 1, 2, 3, 4, 5, 6, 7, 'bhiekhemsing', 'prashant'}

In [89]:
s = {4,5,6,7,3,4,7,5,4,1,2,0,5656,4564,234,234,2342,"abc","##","prashant", "bhiekhemsing"}
s

{'##',
 0,
 1,
 2,
 234,
 2342,
 3,
 4,
 4564,
 5,
 5656,
 6,
 7,
 'abc',
 'bhiekhemsing',
 'prashant'}

In [90]:
for i in s:
    print(i)

0
1
2
3
4
5
6
7
2342
abc
234
##
bhiekhemsing
4564
5656
prashant

**Dictionary**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

In [93]:
d = {}
type(d)

dict

In [100]:
d = {"name":"Prashant", "surname":"bhiekhemsing"}

In [98]:
d

{'name': 'Prashant', 'surname': 'bhiekhemsing'}

In [115]:
# Types that are allowed in a dictionary
d = {"key":[1,2,3,4,5,[345,45]],"key1":(3,3,4,5,6),"key 2":{3,4,5,6}, "key 3":{'x':"sf","y":"d"}}
d

{'key': [1, 2, 3, 4, 5, [345, 45]],
 'key1': (3, 3, 4, 5, 6),
 'key 2': {3, 4, 5, 6},
 'key 3': {'x': 'sf', 'y': 'd'}}

In [117]:
# acces items in a key
d['key']

[1, 2, 3, 4, 5, [345, 45]]

In [122]:
# acces items in a key
for i in d:
    print(d[i])

[1, 2, 3, 4, 5, [345, 45]]
(3, 3, 4, 5, 6)
{3, 4, 5, 6}
{'x': 'sf', 'y': 'd'}

In [123]:
d['key 3']['y']

'd'

In [126]:
# acces items in a key
for i in d:
    print(i,d[i])

key [1, 2, 3, 4, 5, [345, 45]]
key1 (3, 3, 4, 5, 6)
key 2 {3, 4, 5, 6}
key 3 {'x': 'sf', 'y': 'd'}

**keys()**

In [129]:
d.keys()

dict_keys(['key', 'key1', 'key 2', 'key 3'])

In [130]:
for i in d.keys():
    print(d[i])

[1, 2, 3, 4, 5, [345, 45]]
(3, 3, 4, 5, 6)
{3, 4, 5, 6}
{'x': 'sf', 'y': 'd'}

**values()**

In [132]:
d.values()

dict_values([[1, 2, 3, 4, 5, [345, 45]], (3, 3, 4, 5, 6), {3, 4, 5, 6}, {'x': 'sf', 'y': 'd'}])

In [135]:
for i in d.values():
    print(i)

[1, 2, 3, 4, 5, [345, 45]]
(3, 3, 4, 5, 6)
{3, 4, 5, 6}
{'x': 'sf', 'y': 'd'}

**append()**

In [144]:
m = []

d = {"key":[1,2,3,4,5,[345,45]],"key1":(3,3,4,5,6),"key 2":{3,4,5,6}, "key 3":{'x':"sf","y":"d"}}

for i in d.values():
    if type(i) == tuple:
        for j in i:
            m.append(j)
            
m

[3, 3, 4, 5, 6]

In [149]:
# add new keys to dictionary
d["key5"] = "4,5,6,6"

In [150]:
d

{'key': [1, 2, 3, 4, 5, [345, 45]],
 'key1': (3, 3, 4, 5, 6),
 'key 2': {3, 4, 5, 6},
 'key 3': {'x': 'sf', 'y': 'd'},
 'key5': '4,5,6,6'}

In [190]:
# create a dictionary from 0 - 10 with values ^2
d = {}
for i in range(10):
    d[i] = i**2

d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

**isupper()**

In [158]:
l = ['prashant', 'bhiekhemsing','zyz', 'abc']

d = {}
for i in l:
    d[i] = i.upper()

d

{'prashant': 'PRASHANT',
 'bhiekhemsing': 'BHIEKHEMSING',
 'zyz': 'ZYZ',
 'abc': 'ABC'}

In [159]:
l = ['prashant', 'bhiekhemsing','zyz', 'abc']

d = {}
for i in l:
    d[i] = i.isupper()

d

{'prashant': False, 'bhiekhemsing': False, 'zyz': False, 'abc': False}

In [160]:
d = {}
for i in range(10):
    d[i] = i**2

d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [162]:
# comprehension method
{ i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [185]:
l = ['prashant', 'bhiekhemsing','zyz', 'abc']

d = {}
for i in l:
    d[i] = i.isupper()

d

{'prashant': False, 'bhiekhemsing': False, 'zyz': False, 'abc': False}

**items**()

In [188]:
d = {"key":[1,2,3,4,5,[345,45]],"key1":(3,3,4,5,6),"key 2":{3,4,5,6}, "key 3":{'x':"sf","y":"d"}}

d.items()

dict_items([('key', [1, 2, 3, 4, 5, [345, 45]]), ('key1', (3, 3, 4, 5, 6)), ('key 2', {3, 4, 5, 6}), ('key 3', {'x': 'sf', 'y': 'd'})])